<div ng-controller="newCtrl">
    <div>
      <nav>
        <a ng-click='add()'>Add</a>
        <a ng-click='data.selected && remove()'>Remove</a>
        <a ng-click='data.selected && edit()'>Edit</a>
      </nav>
      <div class='exercises'>
        <div class='exercise' ng-repeat='exercise in data.exercises' ng-click='select(exercise)'>
          <span class="name">{{ exercise.name }}</span> 
          <span class="amount">{{ exercise.amount }}</span>
        </div>
      </div>
      <form ng-submit='update' ng-show='editing'>
        <label>
          Activity:
          <input ng-model='exercise.name' value={{data.selected.name}}>
          Sets/Reps:
          <input ng-model='exercise.amount' value={{data.selected.amount}}>
          <button>Update</button>
        </label>
      </form>
    </div>
</div>