<div ng-controller="newCtrl">
    <div>
      <nav>
        <a ng-click='adding = !adding'>Add</a>
        <a ng-click='data.selected && remove()'>Remove</a>
        <a ng-click='data.selected && edit()'>Edit</a>
      </nav>
      <ul ui-sortable style="margin:0;padding:0;list-style: none" ng-model="data.exercises">
        <li ng-repeat="exercise in data.exercises" style="margin:0;padding:0;list-style: none" ng-click='select(exercise)'>{{ exercise.name + ': ' + exercise.amount }}</li>
      </ul>

      <form ng-submit='update()' ng-show='editing'>
        <label>
          Activity:
          <input ng-model='data.updating.name' value={{data.selected.name}}>
          Sets/Reps:
          <input ng-model='data.updating.amount' value={{data.selected.amount}}>
          <button>Update</button>
        </label>
      </form>
      <form ng-submit='' ng-show='adding'>
        <label>
          Activity:
          <input ng-model='data.updating.name'>
          Sets/Reps:
          <input ng-model='data.updating.amount'>
          <button>Update</button>
        </label>
      </form>
    </div>
</div>