<div ng-controller="newCtrl">
    <div>
      <nav>
        <button ng-click='adding = !adding'>Add</button>
        <button ng-click='selected && remove()'>Remove</button>
        <button ng-click='data = {}'>Remove All</button>
        <button ng-click='selected && toggleEdit()'>Edit</button>
        <button ng-click='save()'>Save</button>
        <button ng-click='sampling = !sampling'>Sample Workouts</button>
      </nav>
      <h4 ng-model="data.name" style="margin:0px 30px;padding:0;l">{{data.name}}</h2>

      <ul ui-sortable style="margin:0;padding:0;list-style:none" ng-model="data.exercises">
        <li ng-repeat="exercise in data.exercises" style="margin:0;padding:0;list-style:none" ng-click='select(exercise)'>{{ exercise.name + ': ' + exercise.amount }}</li>
      </ul>

      <form ng-submit='edit()' ng-show='editing'>
        <label>
          Activity:
          <input ng-model='edited.name' value={{selected.name}}>
          Sets/Reps:
          <input ng-model='edited.amount' value={{selected.amount}}>
          <button>Update</button>
        </label>
      </form>
      <form ng-submit='add()' ng-show='adding'>
        <label>
          New Activity:
          <input ng-model='data.added.name'>
          Sets/Reps:
          <input ng-model='data.added.amount'>
          <button>Add</button>
        </label>
      </form>
      
      <ul style="margin:0;padding:0;list-style:none" ng-model="samples.list2" ng-show='sampling'>
        <li ng-repeat="workout in samples.list2" style="margin:0;padding:0;list-style:none" ng-click='loadSample(workout)'>{{ workout.name }}</li>
      </ul>

    </div>
</div>